<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<div>

</div>
<div id="left">
    {{#each burgers}}
    {{#unless this.devoured}}
    <div class="burger">
        <p class="burger-name" data-id="{{this.id}}" data-name="{{this.burger_name}}">{{this.id}}. {{this.burger_name}}</p>
        <button class="eat-button">Devour It!</button>
    </div>  
    {{/unless}}  
    {{/each}}
</div>
<div id="right">
    {{#each burgers}}
    {{#if this.devoured}}
    <div class="burger">
        <p class="burger-eaten" data-id="{{this.id}}" data-name="{{this.burger_name}}">{{this.id}}. {{this.burger_name}}</p>
    </div>  
    {{/if}}  
    {{/each}}
</div>
</div>
<div id="input-area">
    <input type="text" id="burger-input">
    <button type="button" id="burger-submit">Submit</button>
</div>

</html>

<script>
    $("#burger-submit").on("click", function() {
        var burger = {
            burger_name: $("#burger-input").val(),
            devoured: false
        }
        $.post("/api/burgers", burger).then(function(data) {
            location.reload();
        });
    });
    $(".eat-button").on("click", function() {
        var burger = {
            id: $(this).prev().attr("data-id"),
            burger_name: $(this).prev().attr("data-name"),
            devoured: false
        }
        console.log("We're trying to update: " + burger);
        $.put("/api/burgers", burger).then(function(data) {
            location.reload();
        });
    });
</script>